<br>
<br>
<h1 class="text-capitalize text-center text-primary">Welcome!
  <br> To
  <br>cast the vote</h1>
<br>

<br>
<h1 class="text-capitalize text-center">🙏</h1>
<br>
<br>
<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-6">
      <button type="button" class="btn btn-primary btn-lg  btn-block  " routerLink="/createpoll">
        Create Your poll!
      </button>
      <div class="container text-center">
        <br>
        <div class="row justify-content-center">
          <div class="col-md-8">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block  width" routerLink="/mypolls">Show My Polls</button>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<br>
<br>
<br>

